auto eth0
iface eth0 inet static
    address 10.74.14.130
    netmask 255.255.255.252
    gateway 10.74.14.129

auto eth1
iface eth1 inet static
    address 10.74.0.1
    netmask 255.255.248.0

auto eth2
iface eth2 inet static
    address 10.74.8.1
    netmask 255.255.252.0