auto eth0
iface eth0 inet static
    address 10.74.14.142
    netmask 255.255.255.252
    gateway 10.74.14.141

auto eth1
iface eth1 inet static
    address 10.74.12.1
    netmask 255.255.254.0

auto eth2
iface eth2 inet static
    address 10.74.14.1
    netmask 255.255.255.128